.Feedingpr{
    background-color: rgb(244, 248, 4);
    background-image: url(2724749);
    color: rgb(14, 11, 11);
    text-align: center;
}

 p {
    border: 5px solid rgb(10, 10, 10);
    margin: 20px;
    padding: 10px;
    font-size: 25px;
 }
 .navigation{
     display: flex;
     background-color: green;
     overflow-x: scroll;
 }

 .navigation::-webkit-scrollbar{
    display: none;
 }
.navigation> li {
    color: white;
    margin-right: 10px;
    list-style: none;
    text-wrap:nowrap ;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px;
 }

   .navigation> li:hover {
    background-color: red;
   }
